<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.beeframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.beeframework.org/schema/security"
       xsi:schemaLocation="http://www.beeframework.org/schema/beans http://www.beeframework.org/schema/beans/bee-beans-1.2.xsd
       http://www.beeframework.org/schema/security http://www.beeframework.org/schema/security/bee-security-1.0.xsd">

    <!-- Persistence - PDO Connection -->
    <bean id="pdoConnection" class="PDO">
   		<!-- LOCAL DB -->
   		<constructor-arg index="0" value="sqlite:db/examples.sqlite" />
        <constructor-arg index="1" value="sa" />
        <!--<constructor-arg index="0" value="mysql:host=127.0.0.1;dbname=bee_test" />-->
   		<!--<constructor-arg index="1" value="root" />-->
   		<constructor-arg index="2" value="" />
   	</bean>

    <!-- PDO stuff -->
    <bean id="orderedColorsDaoPdo" class="Persistence\Pdo\OrderedColorsDao">
        <constructor-arg index="0" ref="pdoConnection" />
    </bean>

    <bean id="simpleHierarchyDao" class="Persistence\Pdo\SimpleHierarchyDao">
        <constructor-arg index="0" ref="pdoConnection" />
    </bean>

    <!-- Persistence - Doctrine 1 stuff -->
   	<bean id="doctrineManager" class="Doctrine_Manager" factory-method="getInstance" />

   	<bean id="doctrineConnection" factory-bean="doctrineManager" factory-method="openConnection">
   		<constructor-arg index="0" ref="pdoConnection" />
   		<property name="charset" value="utf8" />
   	</bean>

    <bean id="doctrineDaoTemplate" abstract="true">
        <constructor-arg index="0" ref="doctrineConnection" />
   	</bean>

    <bean id="orderedColorsDaoDoctrine" class="Persistence\Doctrine\OrderedColorsDao" parent="doctrineDaoTemplate" />

</beans>
