<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.beeframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:utils="http://www.beeframework.org/schema/util"
       xmlns:mvc="http://www.beeframework.org/schema/mvc"
       xsi:schemaLocation="http://www.beeframework.org/schema/beans http://www.beeframework.org/schema/beans/bee-beans-1.2.xsd
       http://www.beeframework.org/schema/util http://www.beeframework.org/schema/utils/bee-util-1.0.xsd
       http://www.beeframework.org/schema/mvc http://www.beeframework.org/schema/utils/bee-mvc-1.0.xsd">

    <!-- VIEW RESOLVER -->
    <mvc:viewresolver contextLocation="conf/views.xml" />

    <!-- HANDLER MAPPING -->
    <bean id="handlerMapping" class="Bee\MVC\HandlerMapping\AntPathHandlerMapping">
        <property name="defaultControllerBeanName" value="defaultController"/>
        <property name="handlerMappings">
            <array>
                <assoc-item key="/homepage/*/communicator/**" value="messagingController" />
            </array>
        </property>
    </bean>

    <!-- METHOD NAME RESOLVER -->
    <bean id="methodNameResolver" class="Bee\MVC\Controller\Multiaction\MethodNameResolver\AnnotationBasedMethodNameResolver" scope="prototype"/>

    <bean id="multiactionControllerTemplate" class="Bee\MVC\Controller\MultiActionController">
        <property name="methodNameResolver" ref="methodNameResolver"/>
    </bean>

    <!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- ++ DEFAULT +++++++++++++++++++++++++++++++++++ -->
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++ -->
    <bean id="defaultController" parent="multiactionControllerTemplate">
        <property name="defaultMethodName" value="index"/>
        <property name="delegate">
            <bean class="Test\Controller">
                <property name="dao" ref="testDao"/>
            </bean>
        </property>
    </bean>

    <!-- Persistence - PDO Connection -->
    <bean id="pdoConnection" class="PDO">
        <!-- LOCAL DB -->
        <constructor-arg index="0" value="mysql:host=127.0.0.1;dbname=zwst_test"/>
        <constructor-arg index="1" value="root"/>
        <constructor-arg index="2" value=""/>
    </bean>

    <!-- Persistence - Doctrine 1 -->
    <bean id="doctrineManager" class="Doctrine_Manager" factory-method="getInstance"/>

    <bean id="doctrineConnection" factory-bean="doctrineManager" factory-method="openConnection">
        <constructor-arg index="0" ref="pdoConnection"/>
        <property name="charset" value="utf8"/>
    </bean>

    <bean id="doctrineDaoTemplate" abstract="true">
        <property name="doctrineConnection" ref="doctrineConnection"/>
    </bean>

    <bean id="testDao" class="Test\DoctrineDao" parent="doctrineDaoTemplate"/>

    <utils:array id="doctrine2DbParams">
        <!--<assoc-item key="driver" value="pdo_mysql"/>-->
        <assoc-item key="driver" value="pdo_sqlite"/>
        <!--<assoc-item key="user" value="root"/>-->
        <assoc-item key="user" value="sa"/>
        <assoc-item key="password" value=""/>
        <!--<assoc-item key="dbname" value="bee_test"/>-->
        <assoc-item key="path" value="db/examples.sqlite"/>
    </utils:array>

    <bean id="doctrine2Config" class="Doctrine\ORM\Tools\Setup" factory-method="createAnnotationMetadataConfiguration">
        <constructor-arg index="0">
            <array>
                <value>classes</value>
            </array>
        </constructor-arg>
        <constructor-arg index="1" value="true"/>
        <property name="sQLLogger">
            <bean class="Bee\Persistence\Doctrine2\Log4PHPLogger"/>
        </property>
    </bean>

    <bean id="entityManager" class="Doctrine\ORM\EntityManager" factory-method="create" scope="prototype">
        <constructor-arg index="0" ref="doctrine2DbParams"/>
        <constructor-arg index="1" ref="doctrine2Config"/>
    </bean>

    <bean id="cliHelperSet" class="Symfony\Component\Console\Helper\HelperSet">
        <constructor-arg index="0">
            <array>
                <assoc-item key="db">
                    <bean class="Doctrine\DBAL\Tools\Console\Helper\ConnectionHelper">
                        <constructor-arg index="0">
                            <bean factory-bean="entityManager" factory-method="getConnection"/>
                        </constructor-arg>
                    </bean>
                </assoc-item>
                <assoc-item key="em">
                    <bean class="Doctrine\ORM\Tools\Console\Helper\EntityManagerHelper">
                        <constructor-arg index="0" ref="entityManager"/>
                    </bean>
                </assoc-item>
            </array>
        </constructor-arg>
    </bean>

    <bean id="treeDao" class="Treetest\TreeDao">
        <constructor-arg index="0" ref="entityManager"/>
    </bean>

</beans>
